name: Upload JSON to S3

on:
  push:
    paths:
      - employees.json

jobs:
  upload:
    runs-on: ubuntu-latest

    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Configure AWS credentials using OIDC
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::409237390775:role/Case_Study_2_role
          aws-region: eu-central-1

      - name: Upload JSON file to S3
        run: |
          aws s3 cp employee.json s3://your-s3-bucket-name/employee.json
