name: Upload JSON to S3

on:
  push:
    paths:
      - employee.json

jobs:
  upload:
    runs-on: ubuntu-latest

    steps:
      - name: Check out the repository
        uses: actions/checkout@v2

      - name: Set up AWS CLI
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Upload JSON file to S3
        run: |
          aws s3 cp employee.json s3://${{ secrets.S3_BUCKET }}/employee.json
